.sub {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.main:hover + .sub {
  display: flex;
  opacity: 1;
  animation: toDown 300ms ease-in-out;
}

@keyframes toDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
