body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b0afaf8e;
  border-radius: 2px;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.customScrollbar::-webkit-scrollbar {
  width: 5px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #f3f3f382;
  border-radius: 2px;
  cursor: pointer;
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.gradiendColour {
  background: linear-gradient(180deg, rgba(72, 70, 70, 0.222), #252323cd);
}

.memberExclusive {
  border-radius: 15px 0 0 15px;
}

.animated-componentFromRight {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.5s, transform 0.5s;
}

.animated-componentFromRight.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.animated-componentFromLeft {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.5s, transform 0.5s;
}

.animated-componentFromLeft.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.slideFromRight {
  animation: fromRight 0.9s ease-in-out;
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideFromRight2 {
  animation: fromRight2 0.2s ease-in-out;
}

@keyframes fromRight2 {
  from {
    opacity: 0;

    transform: translateX(50px);
  }
  to {
    opacity: 1;

    transform: translateX(0);
  }
}

.slideFromLeft {
  animation: fromLeft 0.7s ease-in-out;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideFromLeft2 {
  animation: fromLeft 0.4s ease-in-out;
}

@keyframes fromLeft2 {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideDown {
  animation: slideDown 0.2s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideUp {
  animation: slideUp 0.4s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.zoomIn {
  animation: zoom 1s ease-in-out;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(80%);
  }
  to {
    opacity: 1;
    transform: scale(110%);
  }
}

.zoomOut {
  animation: zoomOut 2s ease-in-out;
}

@keyframes zoomOut {
  from {
    opacity: 0;
    transform: scale(185%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}
