body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b0afaf8e;
  border-radius: 2px;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.customScrollbar::-webkit-scrollbar {
  width: 5px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #787878a4;
  border-radius: 2px;
  cursor: pointer;
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

.animated-component {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s, transform 0.5s;
}

.animated-component.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.animated-componentFromLeft {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.5s, transform 0.5s;
}

.animated-componentFromLeft.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.slideFromRight {
  animation: fromRight 0.3s ease-in-out;
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideFromRight2 {
  animation: fromRight2 0.2s ease-in-out;
}

@keyframes fromRight2 {
  from {
    opacity: 0;

    transform: translateX(10px);
  }
  to {
    opacity: 1;

    transform: translateX(0);
  }
}

.slideFromLeft {
  animation: fromLeft 0.8s ease-in-out;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideFromLeft2 {
  animation: fromLeft 0.4s ease-in-out;
}

@keyframes fromLeft2 {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideDown {
  animation: slideDown 0.4s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideDown1 {
  animation: slideDown1 0.2s linear;
}

@keyframes slideDown1 {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideUp {
  animation: slideUp 0.3s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.zoomIn {
  animation: zoom 0.5s ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(110%);
  }
}

.zoomOut {
  animation: zoomOut 2s ease-in-out;
}

@keyframes zoomOut {
  from {
    opacity: 0;
    transform: scale(185%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

.opacity {
  animation: opacity 0.3s ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.responsiveWeith {
  @apply w-full px-5 sm:px-0 sm:w-11/12 md:w-10/12  mx-auto;
}

.gro:hover .slideUp {
  display: flex;
  animation: slideUp 0.3s forwards;
}

.gro:not(:hover) .slideDown {
  display: flex;
  animation: slideDown 0.3s forwards;
}

.xAxisMovingAnimation {
  animation: movingOnX 15s linear infinite;
}

@keyframes movingOnX {
  0%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-60px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(60px);
  }
}

.circle {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.692);
  animation: expandAndFade 4s linear infinite;
  z-index: 1;
}

.circle:nth-child(1) {
  animation-delay: 0s;
}

.circle:nth-child(2) {
  animation-delay: 1s;
}

.circle:nth-child(3) {
  animation-delay: 2s;
}

.circle:nth-child(4) {
  animation-delay: 3s;
}

@keyframes expandAndFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.middleComponent {
  transform: translateY(-4%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
    visibility 0s 0.2s;
}

.slide-down2 {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.slide-up2 {
  transform: translateY(-4%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out,
    visibility 0s 0.2s;
}
 