.NavItemParent:hover .NavItemChild {
  transform: rotate(180deg);
}

.slide-enter {
  transform: translateX(-100%);
  transition: transform 5s ease-in-out;
}
.slide-enter-active {
  transform: translateX(0);
  transition: transform 5s ease-in-out;
}
.slide-exit {
  transform: translateX(0);
}
.slide-exit-active {
  transform: translateX(100%);
  transition: transform 5s ease-in-out;
}

.gradiendColour {
  background: linear-gradient(180deg, rgba(72, 70, 70, 0.222), #252323cd);
}

.memberExclusive {
  border-radius: 15px 0 0 15px;
}

.animated-component {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s, transform 0.5s;
}

.animated-component.is-visible {
  opacity: 1;
  transform: translateY(0);
}
